<mat-card>
    <mat-card-header>
        <mat-card-title><h2>Add Nickname</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <input matInput [formControl]="newNickname" />
        </mat-form-field>

        <button mat-button color="primary" (click)="addNickname(newNickname.value)">Add</button>
    </mat-card-content>
</mat-card>

<h2 *ngIf="(nicknames$ | async).length">Nicknames</h2>

<mat-card *ngFor="let nickname of nicknames$ | async">
    <mat-card-header>
        <mat-card-title
            ><h2>
                {{ nickname }}
            </h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
</mat-card>
