<mat-card>
    <mat-card-content>
        <form (ngSubmit)="addNickname(newNickname.value)">
            <mat-form-field>
                <mat-label>Nickname..</mat-label>
                <input
                    matInput
                    [formControl]="newNickname"
                    autocomplete="off"
                />
                <mat-spinner
                    matSuffix
                    *ngIf="newNickname.pending"
                    diameter="24"
                ></mat-spinner>
                <mat-hint>Hint: nicknames should start with 'a'</mat-hint>
                <mat-error>Invalid nickname</mat-error>
            </mat-form-field>
        </form>

        <button
            mat-raised-button
            type="submit"
            [disabled]="!newNickname.valid"
            color="primary"
            (click)="addNickname(newNickname.value)"
        >
            Add
        </button>
    </mat-card-content>
</mat-card>

<h2 *ngIf="(nicknames$ | async).length">Nicknames</h2>

<mat-card *ngFor="let nickname of nicknames$ | async">
    <mat-card-header>
        <mat-card-title
            ><h2>
                {{ nickname }}
            </h2>
        </mat-card-title>
    </mat-card-header>
</mat-card>
