@import '~@angular/material/theming';

:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: mat-color(mat-palette($mat-pink, 800));
    padding: 48px;

    #address,
    #description {
        margin: 0 auto;
        color: #ffffff;
    }

    #address {
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 48px;
    }

    #description {
        font-size: 20px;
        max-width: 80%;
    }
}
