<span id="address">30 St Mary Axe, London</span>

<p id="description">
    People always ask me about this building, It's fantastic.<br />
    Let me tell you about this building.<br />
    I do very well with this building.
    <br /><br />
    <strong>I love this building.</strong>
    <br /><br />
    No one loves this building more than me, <strong>BELIEVE ME</strong>... this
    building loves me.<br />
    We're going to have so many rooms in this building you are going to get sick
    of this building.<br />
    This building just got 10 feet higher. I have the best building.
</p>
